<nav>
  <div class="nav-wrapper">
    <img (click)="abrirSobre()" src="assets/images/car-64.png"><a (click)="abrirSobre()" class="brand-logo bebas-family"> APP - VEÍCULOS</a>
  </div>
</nav>
<div id="modal-sobre" #modalSobre class="modal">
  <div class="modal-content">
    <h4>Sobre o APP-Veículos</h4>
    <p>APP desenvolvido como avaliação da disciplina Frameworks da Pós-JAVA UTFPR</p>
    <p>Adriano de Jesus Alves</p>
    <p>adrianojesusalves@alunos.utfpr.edu.br</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
