<!-- <div class="barra-menu">
  <div class="menu-esquerda">
    <a class="waves-effect waves-light btn button-menu josefyn-family" (click)="novo()"><i class="material-icons left">add_box</i>Novo</a>
  </div>
  <div class="menu-direita">
    <a class="waves-effect waves-light btn button-menu josefyn-family" [routerLink]="['/']"><i class="material-icons left">home</i>Home</a>
  </div>
</div> -->
<app-barra-menu-lista (funcNovo)="novo($event)" ></app-barra-menu-lista>

<div class="container">
  <h4>Lista de Veículos</h4>
  <div class="row" [hidden]="hideCardAviso">
    <div class="col s12">
      <div class="card marrom-escuro">
        <div class="card-content azul-escuro card-aviso">
          <span class="card-title">Veículo excluído, {{segundos}}s</span>
        </div>
      </div>
    </div>
  </div>
  <table class="striped highlight responsive-table">
    <thead>
      <tr>
          <th>Id</th>
          <th>Tipo</th>
          <th>Nome</th>
          <th style="width: 200px; text-align: center">Operações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let v of this.listVeiculos">
        <td>{{v.id}}</td>
        <td>{{v.tipo}}</td>
        <td>{{v.nome}}</td>
        <td style="text-align: center">
          <a class="waves-effect waves-light btn button-table" [ngClass]="desabilitarCss" style="margin-right: 2px;" title="Editar" (click)="editar(v.id)" ><i class="material-icons">edit</i></a>
          <a class="waves-effect waves-light btn button-table red" title="Excluir" [ngClass]="desabilitarCss" (click)="excluir(v.id)" ><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
