<div class="container">
  <div class="row">
    <div class="col s6 m3 offset-m1" style="margin-bottom: 10px;">
      <a class="waves-effect waves-light btn btn-menu btn-veiculos josefyn-family" [routerLink]="['/listar-veiculos']" title="Cadastro de Veículos">Veículos</a>
    </div>
    <div class="col s6 m3" style="margin-bottom: 10px;">
      <a class="waves-effect waves-light btn btn-menu btn-dados josefyn-family" title="Lançamento de dados (manutenção/combustíveis)">Dados</a>
    </div>
    <div class="col s6 m3" >
      <a class="waves-effect waves-light btn btn-menu btn-estatistica josefyn-family" title="Dados estatísticos">Análise</a>
    </div>
  </div>
</div>
